@using Microsoft.AspNet.Identity
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item"><a class="nav-link" href="http://apimanager.zwd.deeekhoorn.com">Login</a></li>
    </ul>

