body {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #00618B;
}

a {
    color: #00618B;
}

    a:hover {
        text-decoration: underline;
        color: #00618B;
    }

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin input[id="UserName"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[id="inputPassword"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dashboard .card {
    background-color: inherit;
    border: none;
}

.dashboard .card-title {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    font-size: 26px;
    font-weight: 300;
}

.btn-primary {
    background-color: #00618B;
    border-color: #00618B;
}

.btn-primary:hover {
    background-color: darkcyan;
    border-color: darkcyan;
}

.badge-pill a {
    color: #fff;
    text-decoration: none;
}

#top-five-urls-pie-chart,
#top-five-users-pie-chart,
#url-usage-column-chart,
#latest-errors {
    height: 300px;
}
